.settings-options {
    text-align: center;
    transition: background-color 150ms ease-in-out;
}

.settings-options:hover {
    background-color: rgba(0, 0, 0, 0.075);
    cursor: pointer;
}

.settings-options-dark:hover {
    background-color: rgba(255, 255, 255, 0.075);
    cursor: pointer;
}

.option-selected {
    background-color: rgba(0, 0, 0, 0.075);
}

.option-selected-dark {
    background-color: rgba(255, 255, 255, 0.075);
}

.settings-lose-focus {
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
    user-select: none;
    transition: background-color 150ms ease-in;
}

.settings-lose-focus-dark {
    background-color: rgba(255, 255, 255, 0.6);
}

.settings-focus {
    transition: background-color 150ms ease-in-out;
}

@media(min-width: 940px) {
    .settings-lose-focus {
        background-color: unset;
        z-index: unset;
        transition: unset;
    }

    .settings-lose-focus {
        background-color: unset;
    }
    
    .settings-focus {
        transition: unset;
    }
}

.flex-center-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
