.sidebar-heading {
    user-select: none;
    cursor: default;
}

.user-area-section {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.spacer {
    height: 50px;
}

.notes-btn {
    cursor: pointer;
    width: 100%;
}

.selected-note-btn {
    background-color: rgba(67, 100, 136, 0.1);
}

.notes-btn:hover {
    background-color: rgba(67, 100, 136, 0.1);
}

.home-lose-focus {
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
    transition: background-color 150ms ease-in;
}

.home-lose-focus-dark {
    background-color: rgba(255, 255, 255, 0.6);
}

.home-focus {
    transition: background-color 150ms ease-in-out;
}

@media(min-width: 940px) {
    .home-lose-focus {
        background-color: unset;
        z-index: unset;
        transition: unset;
    }

    .home-lose-focus-dark {
        background-color: unset;
    }
    
    .home-focus {
        transition: unset;
    }
}

.workspace-note-heading {
    cursor: default;
}
