:root {
    --hambuguer-bar-width: 24px;
    --hambuguer-bar-height: 3px;
    --hambuguer-bar-gap: 4px;
    --hambuguer-height: calc(var(--hambuguer-bar-height) * 3 + var(--hambuguer-bar-gap) * 2);
    --hambuguer-animation: 150ms ease-in-out;
    --color-black: black;
    --color-white: rgb(255, 255, 255);
}

.sidebar {
    translate: -150%;
    transition: translate 150ms ease-in;
    position: absolute;
    left: 0px;
    width: 100vw;
    height: 90vh;
    background-color: var(--color-white);
    z-index: 1;
}

.sidebar-dark {
    background-color: var(--color-black);
}

@media(min-width: 390px) {
    .sidebar {
        width: 70vw;
    }
}
@media(min-width: 560px) {
    .sidebar {
        width: 45vw;
    }
}
@media(min-width: 790px) {
    .sidebar {
        width: 30vw;
    }
}

.hamburguer-menu {
    --x-width: calc(var(--hambuguer-height) * 1.41421356237);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: var(--hambuguer-bar-gap);
    translate: 6px -46px;
    width: max-content;
    height: max-content;
    z-index: 2;
    margin: 6px;
}

.hamburguer-menu::before,
.hamburguer-menu::after,
.hamburguer-menu input {
    content: "";
    width: var(--hambuguer-bar-width);
    height: var(--hambuguer-bar-height);
    background-color: var(--color-black);
    border-radius: 6px;
    transform-origin: left center;
    transition: opacity var(--hambuguer-animation), width var(--hambuguer-animation),
        rotate var(--hambuguer-animation), translate var(--hambuguer-animation);
}

.hamburguer-menu-dark::before,
.hamburguer-menu-dark::after,
.hamburguer-menu-dark input {
    background-color: var(--color-white);
}

.hamburguer-menu input {
    appearance: none;
    outline: none;
    pointer-events: none;
}

.hamburguer-menu input:checked {
    opacity: 0;
    width: 0;
}

.hamburguer-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--hambuguer-bar-height) / -2);
}

.hamburguer-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--hambuguer-bar-height) / 2);
}

@media(min-width: 920px) {
    .sidebar {
        translate: unset;
        transition: unset;
        position: unset;
        left: unset;
        width: unset;
        height: unset;
        background-color: unset;
        z-index: unset;
    }
    .hamburguer-menu {
        display: none;
    }
}

.sidebar-open {
    translate: 0%;
}
